server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/tpjakarta
    username: eric
    password: eric
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,beans
